:root {
  --nav-height: 72px;
  --acc-green: #43f8be;
  --acc-green-rgb: 67 248 190;
  --acc-red: #ff8351;
  --acc-red-rgb: 255 131 81;
}

html, body {
  line-height: 1.5;
  background-color: #000;
  font-weight: 400;
  color: #fff;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

a, button {
  text-decoration: none;
  transition: all 0.2s ease-in-out 0.2s;
  line-height: 1.5;
}
a, a:hover, a:focus, a:active, button, button:hover, button:focus, button:active {
  color: inherit;
}

img, svg {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2 !important;
}

h1, .font-size-1 {
  font-size: 40px !important;
}
@media (min-width: 768px) {
  h1, .font-size-1 {
    font-size: 52px !important;
  }
}
@media (min-width: 992px) {
  h1, .font-size-1 {
    font-size: 56px !important;
  }
}

h2, .font-size-2 {
  font-size: 36px !important;
}
@media (min-width: 768px) {
  h2, .font-size-2 {
    font-size: 44px !important;
  }
}
@media (min-width: 992px) {
  h2, .font-size-2 {
    font-size: 48px !important;
  }
}

h3, .font-size-3 {
  font-size: 32px !important;
}
@media (min-width: 768px) {
  h3, .font-size-3 {
    font-size: 36px !important;
  }
}
@media (min-width: 992px) {
  h3, .font-size-3 {
    font-size: 40px !important;
  }
}

h4, .font-size-4 {
  font-size: 24px !important;
}
@media (min-width: 768px) {
  h4, .font-size-4 {
    font-size: 28px !important;
  }
}
@media (min-width: 992px) {
  h4, .font-size-4 {
    font-size: 32px !important;
  }
}

h5, .font-size-5 {
  font-size: 20px !important;
}
@media (min-width: 768px) {
  h5, .font-size-5 {
    font-size: 24px !important;
  }
}

h6, .font-size-6 {
  font-size: 18px !important;
}
@media (min-width: 768px) {
  h6, .font-size-6 {
    font-size: 20px !important;
  }
}

.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.line-clamp-1 {
  line-clamp: 1;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  line-clamp: 3;
  -webkit-line-clamp: 3;
}

.text-center {
  text-align: center;
}

.text-acc-green {
  color: var(--acc-green);
}

.text-white-75 {
  color: rgba(255, 255, 255, 0.75);
}

.text-acc-red {
  color: var(--acc-red);
}

.font-size-sm {
  font-size: 0.875rem !important;
}

.font-size-xs {
  font-size: 0.8125rem !important;
}

.font-size-mini {
  font-size: 0.75rem !important;
}

.height-100 {
  height: 100%;
}

.display-flex {
  display: flex;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.btn-hover-acc-green {
  display: block;
  padding: 0.25em 0.5em;
  border-radius: 0.25rem;
}
.btn-hover-acc-green:hover, .btn-hover-acc-green:focus, .btn-hover-acc-green:active {
  background-color: rgb(var(--acc-green-rgb)/0.5);
}
.btn-hover-acc-green.is-active {
  background-color: var(--acc-green);
  color: #000;
}

.container {
  margin: 0 auto;
  width: 100%;
  overflow: visible;
}
@media (min-width: 1024px) {
  .container {
    max-width: 1280px;
    padding-inline: 12px;
  }
}
@media (max-width: 1023.98px) and (min-width: 768px) {
  .container {
    padding-inline: 40px;
  }
}
@media (max-width: 767.98px) {
  .container {
    padding-inline: 20px;
  }
}

.unstyled-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.times-wrap {
  --section-gap: 48px;
  padding-top: calc(var(--nav-height) * 2);
  padding-bottom: var(--section-gap);
  min-height: 100vh;
  background-image: linear-gradient(rgb(2, 9, 17) 60%, rgb(6, 78, 59) 100%);
}
@media (max-width: 767.98px) {
  .times-wrap {
    --section-gap: 36px;
  }
}
.times-title {
  margin-bottom: 1rem;
  background-image: linear-gradient(90deg, #c0fff0, #fff);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: 500;
}
.times-action-btn {
  --btn-op: 0.8;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: rgb(var(--acc-green-rgb)/var(--btn-op)) solid 1px;
  border-radius: 9999em;
  line-height: 1.5;
  color: #000;
}
.times-action-btn:hover, .times-action-btn:focus, .times-action-btn:active {
  --btn-op: 1;
  color: #000;
  outline: none;
}
.times-action-btn span {
  flex: 1 0 0;
  padding: 0.125em 1.25em;
  background-color: rgb(255, 255, 255, var(--btn-op));
  border-radius: 9999em;
}
.times-box {
  --box-pd: 14px;
  --box-bdr: 22px;
  --box-bdw: 2px;
  padding: var(--box-pd);
  height: 100%;
  position: relative;
  background-color: rgb(128, 128, 128, var(--box-op, 0.4));
  border-radius: var(--box-bdr);
  transition: all 0.2s ease-in-out 0.2s;
}
.times-box:has(.times-box-link:hover, .times-box-link:focus) {
  background-color: rgb(128, 128, 128, calc(var(--box-op, 0.4) * 2));
  box-shadow: rgba(0, 0, 0, 0.125) 1px 1px 5px 5px;
}
.times-box-border {
  position: absolute;
  top: calc(var(--box-bdw) * -0.5);
  right: calc(var(--box-bdw) * -0.5);
  bottom: calc(var(--box-bdw) * -0.5);
  left: calc(var(--box-bdw) * -0.5);
  border-style: solid;
  border-width: var(--box-bdw);
  border-radius: calc(var(--box-bdr) + var(--box-bdw) * 0.5);
  border-color: rgb(230, 230, 230, var(--box-op, 0.4));
  -webkit-mask-image: linear-gradient(90deg, #000, transparent);
          mask-image: linear-gradient(90deg, #000, transparent);
  pointer-events: none;
}
.times-box-link {
  position: absolute;
  top: calc(var(--box-bdw) * -0.5);
  right: calc(var(--box-bdw) * -0.5);
  bottom: calc(var(--box-bdw) * -0.5);
  left: calc(var(--box-bdw) * -0.5);
  border-radius: calc(var(--box-bdr) + var(--box-bdw) * 0.5);
  text-indent: -9999em;
}
.times-box-body-row {
  --gap: 16px;
  margin-inline: calc(var(--gap) * -0.5);
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 576px) {
  .times-box-body-row {
    height: 100%;
  }
}
@media (max-width: 575.98px) and (min-width: 400px) {
  .times-box-body-row {
    flex-direction: row;
  }
}
@media (max-width: 399.98px) {
  .times-box-body-row {
    flex-direction: column;
  }
}
.times-box-body-col {
  padding-inline: calc(var(--gap) * 0.5);
}
.times-box-body-col-img {
  max-width: 100%;
}
.times-box-body-col-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border-radius: calc(var(--box-bdr) - var(--box-pd));
}
@media (min-width: 576px) {
  .times-box-body-col-img {
    flex: 0 0 auto;
  }
}
@media (max-width: 575.98px) and (min-width: 400px) {
  .times-box-body-col-img {
    flex: 0 0 auto;
    width: 205px;
    height: 205px;
  }
}
@media (max-width: 399.98px) {
  .times-box-body-col-img {
    margin-bottom: var(--gap);
    flex: 0 0 auto;
    width: 100%;
  }
}
.times-box-body-col.times-box-body-col-cont {
  max-width: 100%;
}
.times-box-body-col.times-box-body-col-cont p {
  margin-bottom: var(--gap);
}
@media (min-width: 576px) {
  .times-box-body-col.times-box-body-col-cont {
    flex: 1 0 0;
  }
}
@media (max-width: 575.98px) and (min-width: 400px) {
  .times-box-body-col.times-box-body-col-cont {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 399.98px) {
  .times-box-body-col.times-box-body-col-cont {
    flex: 0 0 auto;
    width: 100%;
  }
}
.times-box-body-footer {
  margin-top: var(--gap);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}
.times-box-body-footer.justify-content-start {
  justify-content: flex-start;
}
@media (max-width: 575.98px) and (min-width: 400px) {
  .times-box-body-footer {
    margin-top: auto;
  }
}
@media (max-width: 399.98px) {
  .times-box-body-footer {
    margin-top: 1rem;
  }
}
.times-box-body-footer > *:not(:only-child) {
  flex: 0 0 auto;
  max-width: 50%;
}
.times-box-body-footer-tag, .times-box-body-footer-date {
  font-size: 13px;
}
.times-box-body-footer-tag {
  padding: 0.125em 1em;
  background-image: linear-gradient(90deg, rgba(192, 255, 255, 0.25), rgba(255, 255, 255, 0.25));
  border-radius: 999em;
}
.times-box-body-footer-date {
  display: inline-flex;
  gap: 0.25em;
  align-items: center;
}
.times-box-body-footer-date svg {
  width: 1.5em;
}
.times-box-body-footer-date span {
  white-space: nowrap;
}
@media (min-width: 576px) {
  .times-box.times-box-v .times-box-body {
    flex-direction: column;
  }
}
@media (max-width: 575.98px) and (min-width: 400px) {
  .times-box.times-box-v .times-box-body {
    flex-direction: row;
  }
}
.times-box.times-box-v .times-box-body-col.times-box-body-col-img {
  flex: 1 0 0;
}
@media (min-width: 576px) {
  .times-box.times-box-v .times-box-body-col.times-box-body-col-img {
    margin-bottom: var(--gap);
  }
}
@media (min-width: 576px) {
  .times-box.times-box-v .times-box-body-col.times-box-body-col-cont {
    flex: 0 0 auto;
  }
}
.times-box.times-box-h .times-box-body {
  flex-direction: row;
  flex-wrap: wrap;
}
@media (min-width: 576px) {
  .times-box.times-box-h .times-box-body-col.times-box-body-col-img {
    flex: 0 0 auto;
    width: calc(205px + var(--gap));
    height: 205px;
  }
}
@media (max-width: 575.98px) and (min-width: 400px) {
  .times-box.times-box-h .times-box-body-col.times-box-body-col-img {
    height: 153.75px;
  }
}
@media (min-width: 576px) {
  .times-box.times-box-h .times-box-body-col.times-box-body-col-cont {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
  }
  .times-box.times-box-h .times-box-body-col.times-box-body-col-cont .times-box-body-footer {
    margin-top: auto;
  }
}
@media (max-width: 399.98px) {
  .times-box.times-box-h .times-box-body-col.times-box-body-col-cont {
    flex: 0 0 auto;
    width: 100%;
  }
}
.times-box.times-box-cta {
  --box-op: 0.2;
  --box-pd: 28px;
}
.times-box.times-box-cta .times-box-body {
  align-items: center;
}
.times-box.times-box-cta .times-box-body-col.times-box-body-col-img img {
  aspect-ratio: 264/254;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 768px) {
  .times-box.times-box-cta .times-box-body-col.times-box-body-col-img {
    width: calc(264px + var(--gap));
    order: 1;
  }
  .times-box.times-box-cta .times-box-body-col.times-box-body-col-img img {
    margin-top: calc(var(--section-gap) * -1);
  }
}
@media (max-width: 767.98px) {
  .times-box.times-box-cta .times-box-body-col.times-box-body-col-img {
    width: 220px;
    translate: 0 -50%;
    opacity: 0.75;
    position: absolute;
    top: 50%;
    right: calc(var(--gap) * -1);
  }
}
@media (max-width: 399.98px) {
  .times-box.times-box-cta .times-box-body-col.times-box-body-col-img {
    opacity: 0.5;
    width: calc(100% - var(--box-pd) * 2);
    height: calc(100% - var(--box-pd) * 2);
    translate: -50% -15%;
    top: 0;
    left: 50%;
    right: auto;
  }
}
@media (max-width: 767.98px) {
  .times-box.times-box-cta .times-box-body-col.times-box-body-col-cont {
    margin-right: 25%;
    position: relative;
    z-index: 1;
  }
}
@media (max-width: 399.98px) {
  .times-box.times-box-cta .times-box-body-col.times-box-body-col-cont {
    margin-righg: 0;
    text-align: center;
    filter: drop-shadow(rgba(0, 0, 0, 0.5) 0 0 1px) drop-shadow(rgba(0, 0, 0, 0.5) 0 0 5px);
  }
  .times-box.times-box-cta .times-box-body-col.times-box-body-col-cont .times-box-body-footer {
    justify-content: center;
  }
}
.times-box.times-box-quote {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  position: relative;
}
.times-box.times-box-quote:before {
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--acc-green);
}
.times-box.times-box-mini {
  --box-pd: 0.5rem;
  --box-bdr: 0.75rem;
}
.times-box.times-box-mini .times-box-body-row {
  --gap: 0.75rem;
}
.times-box.times-box-mini.times-box-h .times-box-body-col.times-box-body-col-img {
  aspect-ratio: 16/9;
  width: auto;
  height: 60px;
}
.times-section {
  padding-block: var(--section-gap);
}
.times-feat {
  --box-op: .2;
  padding-top: calc(var(--nav-height) + var(--section-gap));
}
.times-feat-grid {
  display: grid;
  gap: 24px;
}
@media (min-width: 992px) {
  .times-feat-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(235px, 1fr));
  }
}
@media (max-width: 991.98px) {
  .times-feat-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.times-feat-grid-item:first-child {
  grid-row: span 3/span 3;
}
.times-input {
  padding: 0.25em 1em;
  width: 100%;
  font-size: inherit;
  line-height: 1.5;
  border: rgba(179, 179, 179, 0.25) solid 3px;
  border-radius: 9999em;
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
}
.times-input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
}
.times-input[type=search] {
  padding-inline: 2em 0.5em;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><circle cx="8.03" cy="8.03" r="7" fill="none" stroke="%23fff" stroke-miterlimit="10" stroke-width="2"/><line x1="12.97" y1="12.97" x2="18.97" y2="18.97" fill="none" stroke="%23fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"/></svg>');
  background-size: 20px 20px;
  background-position: 0.5em center;
  background-repeat: no-repeat;
}
.times-input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><line x1="3.64" y1="3.64" x2="16.36" y2="16.36" fill="none" stroke="%23fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"/><line x1="16.36" y1="3.64" x2="3.64" y2="16.36" fill="none" stroke="%23fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"/></svg>');
}
.times-filter {
  padding-inline: 20px;
}
.times-filter-list {
  --gap: 12px;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--gap) * -1);
  margin-inline: calc(var(--gap) * -0.5);
}
.times-filter-item {
  margin-top: var(--gap);
  padding-inline: calc(var(--gap) * 0.5);
  flex: 1 0 0;
}
@media (max-width: 399.98px) {
  .times-filter-item {
    flex: 0 0 auto;
    width: 50%;
  }
}
.times-filter-item.times-filter-item-search {
  flex: 0 0 auto;
  width: 33.3333333333%;
}
@media (max-width: 767.98px) {
  .times-filter-item.times-filter-item-search {
    width: 100%;
  }
}
.times-filter-tab {
  --btn-op: 0.3;
  --btn-bdw: 3px;
  display: block;
  width: 100%;
  padding: 0;
  border: transparent solid var(--btn-bdw);
  line-height: 1.5;
  text-align: center;
  font-size: 1rem;
  border-radius: 999em;
  background-color: rgb(255, 255, 255, calc(0.5 * var(--btn-op)));
  position: relative;
  cursor: pointer;
}
.times-filter-tab:hover, .times-filter-tab:focus, .times-filter-tab:active {
  --btn-op: 0.8;
}
.times-filter-tab.is-active {
  --btn-op: 0.3;
  background-color: rgb(46, 255, 170);
  color: #000;
}
.times-filter-tab-border {
  position: absolute;
  top: calc(var(--btn-bdw) * -1);
  right: calc(var(--btn-bdw) * -1);
  bottom: calc(var(--btn-bdw) * -1);
  left: calc(var(--btn-bdw) * -1);
}
.times-filter-tab-border:before, .times-filter-tab-border:after {
  display: block;
  content: "";
  border-radius: 999em;
  border-width: var(--btn-bdw);
  border-style: solid;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.2s ease-in-out 0.2s;
}
.times-filter-tab-border:before {
  border-color: rgb(255, 255, 255, var(--btn-op));
  -webkit-mask-image: linear-gradient(90deg, #000, transparent);
          mask-image: linear-gradient(90deg, #000, transparent);
}
.times-filter-tab-border:after {
  border-color: rgb(77, 77, 77, var(--btn-op));
  -webkit-mask-image: linear-gradient(90deg, transparent, #000);
          mask-image: linear-gradient(90deg, transparent, #000);
}
.times-filter-tab-body {
  display: block;
  padding: 0.25em 1em;
}
.times-breadcrumb {
  padding-block: 36px 24px;
}
.times-breadcrumb-list {
  --gap: 8px;
  margin-top: calc(var(--gap) * -1);
  margin-inline: calc(var(--gap) * -0.5);
  display: flex;
  flex-wrap: wrap;
}
.times-breadcrumb-item {
  margin-top: var(--gap);
  padding-inline: calc(var(--gap) * 0.5);
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.95rem;
}
.times-breadcrumb-item svg {
  width: 24px;
  height: 24px;
}
.times-breadcrumb-item.is-active {
  color: #20ffc2;
  font-weight: 600;
}
.times-no-result {
  display: none;
}
.times-no-result-inner {
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.times-no-result-inner img {
  margin-inline: auto;
  width: 60%;
  max-width: 240px;
  filter: drop-shadow(rgba(255, 255, 255, 0.5) 0 0 5px);
}
.times-no-result-inner p {
  margin-top: -1.5em;
}
.times-wrap:has(input[type=radio][name=filter-item]:checked) .times-result {
  display: block;
}
.times-articles {
  --box-op: .4;
}
.times-articles-list {
  display: grid;
  gap: 24px;
}
@media (min-width: 768px) {
  .times-articles-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.times-education .times-box {
  --box-op: 0.2;
}
@media (min-width: 768px) {
  .times-education .times-box {
    --box-pd: 28px;
  }
}
@media (max-width: 767.98px) {
  .times-education .times-box {
    --box-pd: 28px 0;
  }
}
@media (max-width: 767.98px) {
  .times-education .times-box-body {
    --gap: 0;
  }
}
.times-education .times-title {
  margin-bottom: 1em;
  text-align: center;
  flex: 1 0 0;
}
@media (max-width: 767.98px) {
  .times-education .times-title {
    padding-inline: 28px;
  }
}
.times-carousel {
  max-width: 100vw;
  overflow: hidden;
  position: relative;
}
@media (max-width: 767.98px) {
  .times-carousel {
    margin-inline: -20px;
  }
}
.times-carousel-list {
  display: flex;
  flex-wrap: nowrap;
}
.times-carousel-item {
  flex: 0 0 auto;
  text-align: center;
}
@media (min-width: 768px) {
  .times-carousel-item {
    width: 33.3333333333%;
    transition: transform 0.5s ease-in;
    will-change: transform;
    transform: scale(0.8);
  }
  .times-carousel-item.is-active {
    transform: scale(1);
  }
}
@media (max-width: 767.98px) {
  .times-carousel-item {
    width: 100%;
    padding-inline: 48px;
  }
}
.times-carousel-item-inner {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.times-carousel-item-inner .times-title {
  margin-bottom: 0;
  flex: 0 0 auto;
}
.times-carousel-item-img {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
}
.times-carousel-item-img img {
  width: 60%;
  border-radius: 12px;
  box-shadow: rgba(255, 255, 255, 0.45) 0 0 4px;
}
.times-carousel-item-action {
  max-width: 100%;
  display: flex;
  justify-content: center;
}
.times-carousel-arrows {
  width: 18px;
  height: 100%;
  position: absolute;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  top: 0;
  opacity: 0.6;
  text-indent: -999em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px 62px;
}
@media (max-width: 767.98px) {
  .times-carousel-arrows {
    margin-inline: 28px;
    padding-inline: 20px;
  }
}
.times-carousel-arrows:hover, .times-carousel-arrows:focus, .times-carousel-arrows:active {
  opacity: 1;
}
.times-carousel-arrows.times-carousel-arrows-prev {
  left: 0;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 62"><polygon points="0 31 18 0 18 62 0 31" fill="%23666"/></svg>');
}
.times-carousel-arrows.times-carousel-arrows-next {
  right: 0;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 62"><polygon points="18 31 0 0 0 62 18 31" fill="%23666"/></svg>');
}
.times-carousel-arrows.is-disabled {
  opacity: 0.3;
  pointer-events: none;
}
.times-header {
  display: flex;
  flex-direction: column;
  margin-top: calc(var(--nav-height) * -1);
  position: relative;
}
@media (min-width: 768px) {
  .times-header {
    aspect-ratio: 21/9;
  }
}
@media (max-width: 767.98px) and (min-width: 400px) {
  .times-header {
    aspect-ratio: 4/3;
  }
}
@media (max-width: 399.98px) {
  .times-header {
    aspect-ratio: 1/1;
  }
}
.times-header-bg {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0.5) calc(100% - 2rem), transparent);
          mask-image: linear-gradient(rgba(0, 0, 0, 0.5) calc(100% - 2rem), transparent);
}
.times-header-inner {
  padding-block: 2rem;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 1;
}
.times-header-info {
  margin-block: 1rem;
  display: flex;
  gap: 24px;
}
.times-header-title {
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
}
.times-ele-section {
  margin-bottom: 48px;
  position: relative;
}
.times-ele-section-anchor {
  position: absolute;
  top: calc(var(--nav-height) * -1 - 1rem);
}
.times-ele-title {
  margin-block: 0.25rem 1rem;
}
.times-ele-title-eyebrow {
  padding-left: 2em;
  position: relative;
  color: var(--acc-green);
}
.times-ele-title-eyebrow:before {
  content: "";
  display: block;
  width: 1.75em;
  height: 2px;
  background-color: currentColor;
  translate: 0 -50%;
  position: absolute;
  top: 50%;
  left: 0;
}
.times-ele-title-pre {
  padding-left: 0.75em;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  border-bottom: rgba(255, 255, 255, 0.25) solid 1px;
  position: relative;
}
.times-ele-title-pre:before {
  content: "";
  display: block;
  width: 3px;
  height: 1em;
  background-color: var(--acc-green);
  border-radius: 1.5px;
  position: absolute;
  top: 0.25em;
  left: 0;
}
.times-ele-para {
  margin-block: 1rem;
}
.times-ele-strong {
  font-weight: 900;
  color: var(--acc-green);
}
.times-ele-fig {
  margin-block: 1.5rem;
}
.times-ele-fig-img {
  width: 100%;
  border-radius: 12px;
}
.times-ele-fig-cap {
  margin-block: 1rem;
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
}
.times-ele-hr {
  margin-block: 1rem;
  border: none;
  border-top: #fff solid 1px;
  opacity: 0.2;
}
.times-ele-row {
  --gap: 16px;
  margin-top: calc(var(--gap) * -1);
  margin-inline: calc(var(--gap) * -0.5);
  display: flex;
  flex-wrap: wrap;
}
.times-ele-col {
  margin-top: var(--gap);
  padding-inline: calc(var(--gap) * 0.5);
}
.times-ele-col.times-ele-col-auto {
  flex: 0 0 auto;
}
.times-ele-col.times-ele-col-grow {
  flex: 1 0 0;
}
.times-ele-col.times-ele-col-full {
  flex: 0 0 auto;
  width: 100%;
}
@media (min-width: 768px) {
  .times-ele-col-md-half {
    width: 50%;
  }
}
@media (max-width: 767.98px) {
  .times-ele-col-md-half {
    width: 100%;
  }
}
.times-ele-btn-green {
  display: block;
  padding: 0.25em 1em;
  border-radius: 0.5rem;
  color: #000;
  background-color: var(--acc-green);
  border: var(--acc-green) solid 1px;
}
.times-ele-btn-green:hover, .times-ele-btn-green:focus, .times-ele-btn-green:active {
  background-color: rgb(var(--acc-green-rgb)/0.1);
  color: #fff;
}
.times-ele-badge {
  display: block;
  padding: 0.25em 0.75em;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 999em;
}
.times-page {
  gap: 48px;
  display: grid;
}
@media (min-width: 992px) {
  .times-page {
    grid-template-columns: 1fr 300px;
    grid-template-rows: 1fr;
  }
}
@media (max-width: 991.98px) {
  .times-page {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
@media (min-width: 992px) {
  .times-page-sidebar-inner {
    position: sticky;
    top: var(--nav-height);
  }
}
.times-author {
  padding-block: 24px;
  border-top: rgb(var(--acc-green-rgb)/0.5) solid 1px;
  border-bottom: rgb(var(--acc-green-rgb)/0.5) solid 1px;
}
.times-author-avantor {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  width: 2.5em;
  border-radius: 9999em;
  background-image: linear-gradient(135deg, #1c5030, #0d2c1a);
  color: var(--acc-green);
  border: #1b3922 solid 2px;
  font-weight: 600;
}
.times-author-content-sub {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.85);
}
.times-author-share {
  display: flex;
  gap: 6px;
}
.times-author-share-btn {
  display: flex;
  padding: 0.25rem;
  border-radius: 0.5rem;
  border: #fff solid 1px;
  opacity: 0.75;
}
.times-author-share-btn:hover, .times-author-share-btn:focus, .times-author-share-btn:active {
  opacity: 1;
}
.times-author-share-btn svg {
  width: 0.875rem;
  height: 0.875rem;
}
.times-scrollspy {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}/*# sourceMappingURL=style.css.map */